* {
  margin: 0;
  padding: 0;
}
html{
  font-size: 100%;
}
body{
  width: 100%;
  background: url(../img/background.jpg) no-repeat;
  background-size: 100%;
  font-family: Gotham Pro;
  color: #000000;

}
img {
  width: 100%;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
button,
input,
textarea{
  outline: none;
  resize: none;
}

.login__wrapper{
  display: flex;
  justify-content: flex-end;
  padding: 1vw 2vw;
}
.button__login{
  padding: 0.5vw 2vw;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 0px 0px 2px 2px;
}
.create__object{
  display: flex;
  justify-content: flex-start;
  position: relative;
}


/* геообъекты */
#geoobjects{
  position: absolute;
  top: 200px;
}
.name_geoobj{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 997px;
  top: 274.48px;
  width: 22.32vw;
  height: 10.10vw;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 1.01vw;
  box-sizing: border-box;
}
.name_geoobj_head{
  display: flex;
  justify-content: space-between;
}
.name_geoobj_title,
.form__create_title{
  font-weight: 500;
  font-size: 0.8vw;
  padding-bottom: 0.3vw;
}
.name_geoobj_title{
  flex: 10;
  padding-bottom: 1vw;
}
.geoobj_icon{
  width: 1vw;
  height: 1vw;
  flex: 1;
}
.button_left{
  width: 1.51vw;
  height: 1.51vw;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 2px 2px 0px 0px;
  padding: 0.35vw;
  margin-left: 0.3vw;
  cursor: pointer;
}
.form__create, .list__geoobjects{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 2vw;
  padding: 0.55vw 2.2vw 0.5vw 1.1vw;
  width: 23.48vw;
  height: 19.69vw;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.form__create_text{
  padding: 0.5vw 0 0.3vw 0;
  font-size: 0.6060vw;
  line-height: 0.8080vw;
}
.form__create_input-title{
  padding-top: 1.1vw;
  font-size: 0.6060vw;
}
.textarea,
.form__input{
  width: 20.98vw;
  margin-top: 0.25vw;
  padding: 0.3vw 0.5vw;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  font-size: 0.60vw;
}
.textarea {
  height: 4.04vw;
  resize: none;
}
.form__create_button,
.button__input{
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  background: #ffffff;
  cursor: pointer;
}
.form__create_button{
  margin-top: 1.1vw;
  padding: 0.2vw 0.8vw;
  font-size: 0.7vw;
}

/* таблица */
.list__geoobjects{
  width: 66.03vw;
  height: 24vw;
}
.prokrutka {
  overflow-y: auto;
  margin: 1vw 0;
  height: 19vw;
}

.prokrutka::-webkit-scrollbar {
  width: 3px;
  height: 50px;
}
.prokrutka::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #C4C4C4;
  border-radius: 6px;
}

.table_wrapper{
  font-size: 0.7vw;
  list-style: none;
  border-left:  1px solid #DFDFDF;
  border-top: 1px solid #DFDFDF;
  font-size: 0.6060vw;
}
.table_row{
  display: flex;
  justify-content: flex-start;
  min-height: 1.6vw;
}
.table_cell, .table_cell_title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  box-sizing: border-box;
  padding-left: 0.5vw;
}

.table_ico{
  width: 0.9vw;
  height: 0.9vw;
  cursor: pointer;
}
.col1{
  flex: 1;
}
.col5{
  flex: 5;
  align-items: center;
}
.col4{
  flex: 4;
}
.col7{
  flex: 7;
}
.col20{
  flex: 20;
}

.table_cell_title{
  font-weight: bold;
  align-items: flex-start;
  }

/* форма регистрации */
.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.registration__content{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 26.11vw;
  height: 15.15vw;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.form__content{
  padding: 0.5vw 2.02vw;
}
.form__input{
  width: 15.15vw;

}
.form__title{
  font-weight: 500;
  padding: 0.5vw 0 0.3vw 0;
  font-size: 1.01vw;
  line-height: 0.808vw;
}
.input_title{
  padding-top: 1.1vw;
  font-size: 0.707vw;
}

.button__input{
  margin-top: 2.2vw;
  padding: 0.2vw 1.1vw;
  font-size: 0.7vw;
}
.hiden{
  display: none;
}
